body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f3f3;
  font-family: Arial, sans-serif;
}

.calculator {
  width: 250px;
  background: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#display {
  width: 90%;
  height: 50px;
  font-size: 1.5em;
  text-align: right;
  padding: 10px;
  border: none;
  background: #333;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 60px);
    gap: 5px;
}


.btn {
  height: 50px;
  font-size: 1.2em;
  border: none;
  background: #444;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #666;
}

.equal {
  /* grid-column: span 2; */
  background: #28a745;
}

.equal:hover {
  background: #218838;
}

.zero {
  grid-column: 2 / 3;
}
.period{
  grid-column: 4/5;
}


